.contentFolder {
    flex: 1;
    padding: 60px;

    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #64C4ED;
        padding-bottom: 20px;
        border-bottom: 1px solid #F2F2F2;

        &:hover {
            svg {
                opacity: 0.1;
            }
        }

        svg {
            opacity: 0;
            cursor: pointer;
            margin-left: 15px;
            margin-bottom: 5px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__no-tasks {
        position: relative;
        margin-top: 20px;
        color: #C9D1D3;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
    }

    &__items{
        display: flex;
        align-items: center;
        margin-top: 20px;

        input {
            margin-left: 15px;
            border: 0;
            font-size: 16px;
            width: 100%;
        }

        .checkbox {

            &:hover {
                label {
                    background-color: #f2f2f2;
                    border-color: #f2f2f2;
                    svg {
                        opacity: 1;
                        path {
                            stroke: #B2B2B2;
                        }
                    }
                }
            }

            input {
                display: none;
            }

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #e8e8e8;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                cursor: pointer;

                svg {
                    opacity: 0;
                    position: relative;
                    left: 1px;
                }
            }

            input:checked + label {
                background-color: rgb(97, 197, 97);
                border-color: rgb(97, 197, 97);

                svg {
                    opacity: 1;
                    path {
                        stroke: #fff;
                    }
                }
            }
        }
    }

    .new-task {
        margin-top: 20px;

        &__no-active {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.15s ease-in-out;

            svg {
                width: 19px;
                height: 19px;
                color: #C9D1D3;
            }

            span {
                font-size: 16px;
                margin-left: 20px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        &__active {
            &__button {
                background: #4DD599;
                border-radius: 4px;
                color: #fff;
                border: 0;
                padding: 10px 20px;
                cursor: pointer;
                width: 30%;
                margin-top: 15px;
                font-size: 14px;

                &:hover {
                    background-color: darken(rgb(140, 214, 144), 5%);
                }

                &:active {
                    background-color: darken(rgb(140, 214, 144), 15%);
                }

                &:disabled {
                    background-color: rgb(189, 183, 183);
                }
            }

            .grey {
                background-color: rgb(189, 183, 183);
                margin-left: 10px;

                &:hover {
                    background-color: darken(rgb(189, 183, 183), 4%);
                }

                &:active {
                    background-color: darken(rgb(189, 183, 183), 6%);
                }
            }
        }
    }
}
