.sidebar {
    background-color: #F4F6F8;
    width: 200px;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;

    .list {
        $self: &;

        .name {
            margin-bottom: 30px;
        }

        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 10px 12px;
            margin-bottom: 5px;

            &:hover  .remove-icon {
                opacity: 0.3;
            }

            &:hover {
                background-color: rgb(245, 236, 236);
                border-radius: 5px;
            }

            &.active {
                background: #FFFFFF;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
                border-radius: 4px;
            }

            .badge {
                position: relative;
            }

            i {
                display: inline-flex;
                margin-right: 10px;

                svg {
                    opacity: 0.6;
                }
            }

            .folder-name {
                flex: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .remove-icon {
                opacity: 0;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &__add-button {
            opacity: 0.4;
            svg {
                width: 12px;
                height: 12px;
                path {
                    stroke: #868686;
                }
            }

            span {
                color: #767676
            }

            &:hover {
                opacity: 1;
            }
        }

        &__new-folder-form {
            width: 240px;
            height: 150px;
            background: #e7e2e2;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding: 18px;
            box-sizing: border-box;
            position: relative;
            top: -10px;
            left: 10px;

            .button {
                width: 100%;
            }

            .close-button {
                position: absolute;
                right: -8px;
                top: -8px;
                cursor: pointer;
            }
        }

        &__colors {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;

            .badge {
                width: 16px !important;
                height: 16px !important;
                position: static;
                border: 2px solid transparent;
                cursor: pointer;

                &.active {
                    border: 2px solid black;
                }
            }
        }

        &__add-button-form {
            background: #4DD599;
            border-radius: 4px;
            color: #fff;
            border: 0;
            padding: 10px 20px;
            cursor: pointer;
            width: 100%;
            margin-top: 15px;

            &:hover {
                background-color: darken(rgb(140, 214, 144), 5%);
            }

            &:active {
                background-color: darken(rgb(140, 214, 144), 15%);
            }

        }

        .badge {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;

            &--green {
                background-color: #42B883;
            }

            &--black {
                background-color: #110133;
            }

            &--blue {
                background-color: #64C4ED;
            }

            &--red {
                background-color: #FF6464;
            }

            &--pink {
                background-color:#FFBBCC;
            }

            &--grey {
                background-color: #C9D1D3;
            }

            &--lime {
                background-color:#B6E6BD;
            }

            &--purple{
                background-color:#C355F5;
            }
        }
    }

}
