* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Roboto',-apple-system, system-ui, sans-serif;
}

.todo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 20px #daa8a8;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    display: flex;
}

.field {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;

    &:focus {
        border-color: #f79f9f;
    }
}
